<div class="container">
  <div class="row">
    <div class="col-12 text-center">

        <h3><%= @group.name %></h3>

          <div class="card shadow" style="padding: 50px;">
            <h5>
              参加メンバー(<%= @group.users.count %>名)：
             <% @group.users.each do |member| %>
               <%= member.nickname %>
             <% end %>
            </h5>
          </div>

          <% if @group.owner_id == current_user.id %>
           <%= link_to "グループを削除", group_path(@group), method: :delete , class:"btn btn-danger"%>
          <% elsif @group.users.include?(current_user) %>
           <%= link_to "退会する", group_path(@group), method: :delete , class:"btn btn-danger"%>
          <% else %>
           <%= link_to "参加する", group_join_path(@group), class:"btn btn-success" %>
          <% end %>

          <% if @group.users.include?(current_user) %>
            <%= link_to "投票ルームへ", group_group_words_path(@group), class:"btn btn-success" %>
          <% end %>
  
          <%= link_to "グループ一覧へ戻る", groups_path, class:"btn btn-primary" %>

    </div>
  </div>
</div>