<div class="container">
  <div class="row">
    <div class="col-12 text-center">

      <h2><%= @group.name %></h2>

        <table class="table group_word-index">
             <thead>
               <tr>
                 <th>テーマ</th>
                 <th>投票ステータス</th>
                 <th></th>
               </tr>
             </thead>
             <tbody>
                <% @group.group_words.each do |group| %>
                   <tr>
                     <td><%= group.word %></td>
                     <td>
                       <% if group.status == "投票中" %>
                        <%= link_to "投票中", group_group_word_path(@group,group) %>
                       <% else %>
                        <%= link_to "結果発表", result_group_group_word_path(@group,group) %>
                       <% end %>
                     </td>
                     <td>
                       <% if @group.owner_id == current_user.id %>
                        <%= link_to "ステータス変更", edit_group_group_word_path(@group,group) %>/
                        <%= link_to "削除", group_group_word_path(@group,group), method: :delete, data: {confirm: "本当に消しますか？"} %>
                       <% end %>
                     </td>
                   </tr>
                <% end %>
             </tbody>
        </table>
        <% if @group.owner_id == current_user.id %>
          <%= link_to "テーマ作成", new_group_group_word_path, class:"btn btn-success" %>
        <% end %>
        <%= link_to "グループ一覧へ戻る", groups_path, class:"btn btn-primary" %>

    </div>
  </div>
</div>
