<h1>GroupWords#show</h1>

<%= @group_word.word %>
<%= @group_word.yes_opinions.count %>
<%= @group_word.no_opinions.count %>

<div id="yes_btn<%= @group_word.id %>">
<%= render 'yes_opinions/yes_btn', group_word: @group_word %>
</div>
<div id="no_btn<%= @group_word.id %>">
<%= render 'no_opinions/no_btn', group_word: @group_word %>
</div>